 @font-face {
          font-family: 'Bruno-Ace';
            src:url("../src/Bruno-Ace.ttf.eot");
            src:  url("../src/Bruno-Ace.ttf.woff") format('woff'),
            url("../src/Bruno-Ace.ttf.svg#Bruno-Ace") format('svg'),
            url("../src/Bruno-Ace.eot?#iefix") format('embedded-opentype'); 
            font-weight: normal;
            font-style: normal;
        }
    
body {
    background-color: #bfbcb5;
}

.logo {
    display: inline-block;
    padding: 30px 0px 0px 30px; 
}

.nav {
    vertical-align: top;
    width: 15%;
    padding: 1%;
}

.navigation li {
    display:inline-block;
    padding: 5px;
    font-size: 20px;
}

.imgHero {
    text-align: center;
    padding: 1%; 
}

.navBar{
    display:inline-block;
    padding-top: 10px;
    width: 450px;
    float: right;
}

section {
    margin: 10px;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin: 8px;
    font-family: 'Bruno-Ace', 'Black Ops One', cursive;
}

h2 {
    font-size: 20px bold;
    font-family: 'Merriweather Sans';
    margin: 10px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-family: 'Merriweather Sans';
    margin: 10px;
}
.subHeading {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 50px auto;
  }

#containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    padding: 10px;
    grid-template-areas:
    "sidebar card1 card2"
    "sidebar card3 landscapeArchitecture";
}
#sidebar {
    max-width: 300px;
    grid-area: sidebar;
    padding: 5px;
    margin: 0 auto;
}

#card1 {
    grid-area: card1;
    box-shadow: 0 4px 8px 0 #000033;
    width: 300px;
    height: 350px;
    padding: 5px;
    display: flex;   
    align-items:center;
    justify-content: center;
    border: 3px black;
    margin: 0 auto;
}

#card2 {
    grid-area: card2;
    box-shadow: 0 4px 8px 0 #000033;
    width: 300px;
    height: 350px;
    padding: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: 3px;
    margin: 0 auto;
}

#card3 {
    grid-area: card3;
    box-shadow: 0 4px 8px 0 #000033;
    width: 300px;
    height: 350px;
    padding: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: 3px;
    margin: 0 auto;
}

#landscapeArchitecture {
    grid-area: landscapeArchitecture;
    display: flex;  
    align-items:center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 #000033;
    width: 300px;
    height: 350px;
    padding: 5px;
    border: 3px;
    margin: 0 auto;
}

p {
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}

.tools {
    text-align: center;
    margin: 5px;
}

button {
    width: 125px;
    height: 35px;
    margin-bottom: 5px;
    background-color: #227016;
    color:aliceblue;
}

.resume {
    padding: 25px;
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.research {
    width: 33%;
    margin: 20px;
    padding: 20px;
    text-align: center;

}

.interface {
    width: 33%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.webDevelopment {
    width: 33%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

img {
    max-height: 300px;
    max-width: 450px;
}

.lionImg {
    width: 100%;
    height: auto;
}

footer {
    background-color: #373738;
    height: 45px;
    vertical-align: top;
    color: white;
    width: 100%;
    margin: auto;
    padding: 5px;
}
li {
    display: inline-block;
    margin: 5px;
}
.footerNav {
    font-size: 18px;
    padding-left:80px;
    margin-top: 6px;
    float:left;
    word-spacing:30px;
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}
a:link {
    color: white;
}
a:visited {
    color: #227016
}
a:hover {
    color: #227016
}
.social {
    float:right;
    margin-top: 5px;
    padding-right: 80px;    
}
#topNav {
    display: none;
}
.responsiveFooter {
    display: none;
}
@media only screen and (max-width: 600px) {   
    img {
        width:auto;
        height: 100%;
    }   
    .navBar {
        display: none;
    }
    #topNav {
        display: block;
        float: right;
        padding: 10px;
        margin-top: 25px;
    }
    #containerGrid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "sidebar"
        "sidebar"
        "card1"
        "card2"
        "card3"
        "landscapeArchitecture"
        ;
    }
    
    .flexContainer {
        display: flex;
        flex-direction: column;   
        width: 100%;  
        justify-content: center;
    }
    .research {
        width: 300px;
        margin: 10px auto;
        padding: 10px;
        text-align: center;
        
    }
    .interface {
        width: 300px;
        margin: 10px auto;
        padding: 20px;
        text-align: center;
    }
    .webDevelopment {
        width: 300px;
        margin: 10px auto;
        padding: 20px;
        text-align: center;
    }
    .footerNav {
        display: none;
    }
    .social {
        float:right;
        margin-top: 5px;
        padding-right: 25px;
}
    .responsiveFooter {
        display: initial;
        font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
        float: left;
        margin-top: 12px;
        padding-left: 30px;
    }